html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.main{
    display: flex;
    justify-content: space-around;
}

.head {
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin: 50px 0;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#container {
    display:flex;
    background-color: white;
    height: 625px;
    width: 625px;
    flex: 0 0 auto;
    flex-wrap: wrap;
}

.divs {
    flex: 1 0 auto;
}
